notebooks/data/wyscout/*
notebooks/data/statsbomb/*
notebooks/data/statsbomb_event_360_data/*
notebooks/data/training_data_xgoal/*
notebooks/data/training_data_xpass/*
notebooks/data/training_data_players_wyscout/*
notebooks/data/training_data_players_statsbomb/*
notebooks/data/training_data_xdribble/*
notebooks/data/model_xdribble/*
notebooks/data/model_xpass/*
notebooks/data/model_xgoal/*
notebooks/catboost_info/*
notebooks/images/*